/* generics */
body{
    color: white;
}

header,
footer{
    background-color: #2C3E50;
}

a{
    text-decoration: none;
    color: white;
}

/* header */

header .navbar .container-fluid a{
    color: white;
}

header .navbar .navbar-toggler{
    filter: invert(1);
}

/* main */

.jumbotron,
.About{
    background-color: #1ABC9C;
}

.info{
    background-color: #3A546D;
}

.jumbotron .container-jumbo-image{
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.icon-star > div {
    height: 0;
}
    
.fa-star{
    margin: 0 10px;
}

.circle-icon{
    width: 30px;
    height: 30px;
    padding: 2px 7px;
    margin: 0 5px;
}
    

.Portfolio,
.contact-me{
    color:  #2C3E50;
}

/* footer */

footer a{
    color: #1ABC9C;
}

