/* generics */
body{
    color: white;
}

header,
footer{
    background-color: #2C3E50;
}

a{
    text-decoration: none;
    color: white;
}

/* main */

.jumbotron,
.About{
    background-color: #1ABC9C;
}

.info{
    background-color: #3A546D;
}

.circle-icon{
    width: 30px;
    height: 30px;
    padding: 2px 7px;
    margin: 0 5px;
}
    
.jumbotron .container-jumbo-image{
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.Portfolio,
.contact-me{
    color:  #2C3E50;
}

footer a{
    color: #1ABC9C;
}

header .navbar .container-fluid a{
    color: white;
}



