/* generics */

body{
    color: white;
}

header,
footer{
    background-color: #2C3E50;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 50px;
}

h5{
    font-size: 15px;
    padding-bottom: 30px;
}

section{
    margin-bottom: 50px;
}

/* header */

header .navbar .container-fluid a{
    color: white;
}

header .navbar .navbar-toggler{
    filter: invert(1);
}

/* main */

.jumbotron,
.About{
    background-color: #1ABC9C;
}

.info{
    background-color: #3A546D;
}

.jumbotron .container-jumbo-image{
    max-width: 40%;
}

.icon-star .icon-line {
    width: 70px;
    border: 2px solid white;
}
    
.fa-star{
    font-size: 1.8rem;
}

.circle-icon{
    width: 32px;
    height: 30px;
    padding: 2px 6px;
    margin: 0 5px;
}
    
.contact-me input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding: 0;
}

.form-control:focus{
    box-shadow: none;
    border-bottom-color: gray;
}

textarea{
    height: 200px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    resize: none;
}

.Portfolio,
.contact-me{
    color:  #2C3E50;
}

.Portfolio .icon-line,
.contact-me .icon-line{
    border-color: #2C3E50;
}

/* footer */

footer a{
    color: #1ABC9C;
}

.info .col{
    padding-top: 40px;
}
